.button {
    font-size: 200%;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    height: 100px;
}

button:hover {
    background-color: #0056b3;
}
.button:active {
    background-color: #004492;  
}


.button--equals {
    background-color: #FFA500;  
}

.button--equals:hover {
    background-color: #E59400;  
}

.button--equals:active {
    background-color: #CC7A00;  
}

.button--operator {
    background-color: #AABCD1;  
}

.button--operator:hover {
    background-color: #889CB2;  
}

.button--operator:active {
    background-color: #677B8E;  
}

.button--delete {
    background-color: #FF9E9E; 
}

.button--delete:hover {
    background-color: #FF8D8D;  
}

.button--delete:active {
    background-color: #FF7C7C;  
}

.button--clear {
    background-color: #FF3232;  
}

.button--clear:hover {
    background-color: #E51D1D; 
}

.button--clear:active {
    background-color: #C31313;  
}
